.shape{
  border-radius:1rem;
}

button{
  display: flex;
  align-items: center;
  font-family: 'DM Sans',sans-serif;
  font-weight: bold;
  color: #5b61f4;
  border-radius: 6px;
  background-color: #ffffff;
}


p{
  color: #000000;
}
.container {
  display: flex;
  gap: 20px;
}

.box {
  width: 100px;
  height: 100px;
  background: #5b61f4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}

.drop-zone {
  width: 596px;
  height: 415px;
  border: 2px dashed rgb(12, 1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}


.box {
  width: 615px;
  height: 552px;
  background: #ffffff;
  border: 2px solid black;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  padding-top: 10px;
  font-family: sans-serif;
}